In [3]:
import pandas as pd

In [4]:
df = pd.read_csv(r'C:\Users\u0168991\Documents\Projects\football\output.csv', encoding= 'utf8')
df

,Match Date,Kick Off Time,Home Team,HGoals,Away Team,AGoals
0,2018-03-01,21:00:00.000,Las Palmas,1,Barcelona,1
1,2017-08-20,20:15:00.000,Barcelona,2,Real Betis,0
2,2017-10-14,20:45:00.000,Atlético Madrid,1,Barcelona,1
3,2018-04-07,20:45:00.000,Barcelona,3,Leganés,1
4,2017-10-28,20:45:00.000,Athletic Bilbao,0,Barcelona,2
...,...,...,...,...,...,...
447,2009-05-02,20:00:00.000,Real Madrid,2,Barcelona,6
448,2009-04-25,22:00:00.000,Valencia,2,Barcelona,2
449,2008-11-08,22:00:00.000,Barcelona,6,Real Valladolid,0
450,2009-04-04,20:00:00.000,Real Valladolid,0,Barcelona,1
451,2008-11-16,21:00:00.000,Recreativo Huelva,0,Barcelona,2

In [5]:
df.dtypes

Match Date       object
Kick Off Time    object
Home Team        object
HGoals            int64
Away Team        object
AGoals            int64
dtype: object