In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\u0168991\Documents\Projects\football\open-data\output.csv', encoding= 'utf8')

In [3]:
# convert Match Date column from object type to datetime type

In [4]:
df['Match Date'] = pd.to_datetime(df['Match Date'], format = "%Y-%m-%d")

In [17]:
df.sort_values(by='Match Date').head(40)

,Match Date,Kick Off Time,Home Team,HGoals,Away Team,AGoals,Season
314,2004-10-16,22:00:00.000,Espanyol,0,Barcelona,1,2004/2005
310,2004-10-24,21:00:00.000,Barcelona,3,Osasuna,0,2004/2005
311,2004-12-04,20:00:00.000,Barcelona,4,Málaga,0,2004/2005
309,2004-12-11,20:00:00.000,Albacete,1,Barcelona,2,2004/2005
312,2004-12-21,20:00:00.000,Barcelona,2,Levante,1,2004/2005
315,2005-04-17,21:00:00.000,Barcelona,2,Getafe,0,2004/2005
313,2005-05-01,19:00:00.000,Barcelona,2,Albacete,0,2004/2005
318,2005-10-01,20:00:00.000,Barcelona,2,Real Zaragoza,2,2005/2006
325,2005-10-22,22:00:00.000,Barcelona,3,Osasuna,0,2005/2006
316,2005-10-26,20:30:00.000,Barcelona,2,Málaga,0,2005/2006
326,2005-11-06,21:00:00.000,Getafe,1,Barcelona,3,2005/2006
324,2005-11-19,20:00:00.000,Real Madrid,0,Barcelona,3,2005/2006
332,2005-11-27,21:00:00.000,Barcelona,4,Racing Santander,1,2005/2006
323,2005-12-04,19:00:00.000,Villarreal,0,Barcelona,2,2005/2006
329,2005-12-11,21:00:00.000,Barcelona,2,Sevilla,1,2005/2006
319,2005-12-17,22:00:00.000,Cádiz,1,Barcelona,3,2005/2006
321,2005-12-20,21:00:00.000,Barcelona,2,Celta Vigo,0,2005/2006
327,2006-01-07,22:00:00.000,Espanyol,1,Barcelona,2,2005/2006
328,2006-01-15,19:00:00.000,Barcelona,2,Athletic Bilbao,1,2005/2006
322,2006-01-22,19:00:00.000,Barcelona,2,Deportivo Alavés,0,2005/2006
320,2006-01-29,19:00:00.000,Mallorca,0,Barcelona,3,2005/2006
331,2006-02-05,19:00:00.000,Barcelona,1,Atlético Madrid,3,2005/2006
317,2006-02-18,22:00:00.000,Barcelona,5,Real Betis,1,2005/2006
330,2006-02-25,22:00:00.000,Real Zaragoza,0,Barcelona,2,2005/2006
341,2006-08-28,21:00:00.000,Celta Vigo,2,Barcelona,3,2006/2007
349,2006-09-09,20:00:00.000,Barcelona,3,Osasuna,0,2006/2007
352,2006-09-17,20:00:00.000,Racing Santander,0,Barcelona,3,2006/2007
350,2006-09-24,21:00:00.000,Barcelona,1,Valencia,1,2006/2007
354,2006-09-30,22:00:00.000,Athletic Bilbao,1,Barcelona,3,2006/2007
347,2006-10-15,19:00:00.000,Barcelona,3,Sevilla,1,2006/2007
344,2006-10-22,21:00:00.000,Real Madrid,2,Barcelona,0,2006/2007
356,2006-11-04,22:00:00.000,Deportivo La Coruna,1,Barcelona,1,2006/2007
346,2006-11-12,21:00:00.000,Barcelona,3,Real Zaragoza,1,2006/2007
333,2007-02-11,19:00:00.000,Barcelona,2,Racing Santander,0,2006/2007
345,2007-02-18,19:00:00.000,Valencia,2,Barcelona,1,2006/2007
342,2007-02-25,21:00:00.000,Barcelona,3,Athletic Bilbao,0,2006/2007
348,2007-03-03,22:00:00.000,Sevilla,2,Barcelona,1,2006/2007
351,2007-03-10,22:00:00.000,Barcelona,3,Real Madrid,3,2006/2007
353,2007-03-17,20:00:00.000,Recreativo Huelva,0,Barcelona,4,2006/2007
357,2007-03-31,22:00:00.000,Barcelona,2,Deportivo La Coruna,1,2006/2007

In [23]:
df['Season'].value_counts()

2014/2015    38
2011/2012    37
2017/2018    36
2009/2010    35
2018/2019    34
2016/2017    34
2015/2016    33
2010/2011    33
2012/2013    32
2013/2014    31
2008/2009    31
2007/2008    28
2006/2007    26
2005/2006    17
2004/2005     7
Name: Season, dtype: int64